# ============================================================
# .gitignore
# 更新日期: 2026-07-09
# ============================================================

# IDE
.idea
.vscode
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 本地数据目录
home/
logs/
data/

# 日志
*.log